.app-logo {  
  height: 35vmin;
  pointer-events: none;
}

.loginavatar {
  height: 32px;
  border-radius: 8px;  
}

.leaderboardavatar {
  height: 80px;
  border-radius: 5px;
  margin: 10px auto 10px auto;
}


.avatar {
  height: 100px;
  border-radius: 5px;
  margin: 10px auto 10px auto;
}


.symentic-select {
  margin-top: 4px;
  margin-bottom: 4px;
}


.form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 15px;
}

.dashboard {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.clickedButton {
  font-weight: bold;
  background: rgba(0,80,168);    
}


.card{
  margin-bottom: 5px
}

.card-body
{
  padding-top: 0.25rem !important;
  padding-bottom: 0.5rem !important;
}

.card-header
{
  padding-bottom: 0rem !important;
}

.dashboardBorder{
  border: 3px solid #eee;
  border-radius: 7px;
}

.box-border-right
{
  border-right: 1px solid #eee;
}
.box-border-left
{
  border-left: 1px solid #eee;
}

.box-border-bottom
{
  border-bottom:  1px solid #eee;
  
}

.CardBackground
{
  background-color: lightgreen;
}


.navbar{
  border-bottom:3px solid rgb(115, 179, 248);
  padding-bottom: 0%;
  margin-bottom: 15px;
}

.nan-link{
  padding: 0%;
}

.navbar-nav.mr-auto{
  margin-left: 50%;
  height: 50px;
  transform: translatex(-50%);
}

.nav-item{
  width: auto;
  white-space: nowrap;
}

.nav-link {
  color: rgba(0, 0, 0, 0.13);
}

.navMenuActive {  
    font-weight: bold;
    color: #080808
}

.leaderBoard-Border {
  margin-bottom: 5px;
}
